@import url("fonts.css");
/* generales */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {background:#fff url(images/fondo.gif) center repeat-y;margin:0;padding:0;}
:focus {outline:0;}
ol, ul {list-style:none;}
p {margin:0 0 20px;}

/* formularios */
form {margin:0;}
input[type="text"], textarea, select  {font:12px Arial, Helvetica, sans-serif;width:250px;color:#000;margin:0;border:solid 1px #ccc;padding:3px;}
textarea {width:400px;height:70px;}
input[type="button"], input[type="submit"] {font:12px Arial, Helvetica, sans-serif;border-top:1px solid #c25d57;border-left:1px solid #c25d57;border-right:1px solid #6d130e;border-bottom:1px solid #6d130e;background:#9d2720;color:#fff;font-weight:bold;width:100px;font-size:15px;text-transform:uppercase;padding:4px 3px;}
input[type="checkbox"], input[type="radio"] {margin:0;padding:0;height:14px;width:14px;border:none;vertical-align:text-top;}

/* links */
a {color:#333;text-decoration:none;}
a:hover {color:#000;text-decoration:none;}

/* t�tulos */
h1 {margin-bottom:1px;font-size:12px;font-weight:bold;color:#1198b4;}

/* estructura */
.destacado {float:left;width:100%;display:table;background:#f0f0f0;}
.destacado-interno {width:960px;display:block;margin:0 auto;height:430px;padding:20px 0;}
.contenido {float:left;width:100%;display:table;}
.contenido-interno {width:960px;display:block;margin:0 auto;font:12px Arial, Helvetica, sans-serif;line-height:16px;color:#333;}
.home-separador {float:left;width:960px;margin-top:60px;padding-top:30px;border-top:20px solid #f0f0f0;}
.home-quien-soy {float:left;width:465px;height:84px;background:url(images/fondo-quien-soy.gif) 0 0 no-repeat;line-height:28px;}	
.home-quien-soy-titulo, .home-quien-soy-bajada {float:left;}
.home-quien-soy-titulo a {float:left;display:block;width:210px;height:50px;padding:34px 20px 0 0;line-height:25px;font-family: 'Montserrat', sans-serif;font-size:23px;text-transform:uppercase;font-weight:bold;color:#707070;text-align:right;letter-spacing:-1px;}	
.home-quien-soy-bajada a {float:left;display:block;font:16px Georgia, "Times New Roman", Times, serif;font-style:italic;color:#9e9e9e;width:214px;height:55px;padding:29px 0 0 21px;line-height:18px;}
.home-prensa {float:left;width:465px;margin-left:30px;background:#dad5bc;height:80px;margin-top:4px;}
.home-prensa-titulo a {float:left;display:block;width:465px;height:30px;padding:17px 0 0;text-align:center;line-height:30px;font-family: 'Montserrat', sans-serif;font-size:30px;text-transform:uppercase;font-weight:bold;color:#55534a;text-align:center;letter-spacing:-1px;}	
.home-prensa-bajada a {float:left;display:block;font-family: 'Montserrat', sans-serif;font-size:16px;color:#898881;width:465px;line-height:20px;height:33px;text-align:center;background:url(images/fondo-prensa.gif) center 11px no-repeat;}
.titulo {float:left;width:100%;display:table;background:#161616;}
.titulo-interno {width:960px;display:block;margin:0 auto;height:90px;font-family:'Abel',sans-serif;font-size:35px;line-height:90px;color:#cdcdcd;text-align:center;text-transform:uppercase;}
.titulo.prensa {background:#dad5bc;}
.titulo.prensa .titulo-interno {color:#55534a;}
.titulo-interno a {color:#fff;}
.titulo-interno a:hover {color:#999;}
.titulo.prensa .titulo-interno a {color:#3c3a34;}
.titulo.prensa .titulo-interno a:hover {color:#000;}
.trabajos ul {float:left;width:960px;}
.trabajos li {float:left;width:300px;margin:30px 30px 0 0;}
.trabajos li.ultimo {margin-right:0;}
.trabajos-imagen {border-bottom:4px solid #161616;}
.trabajos-texto {font-family:'Abel',sans-serif;font-size:15px;line-height:24px;color:#4d4d4d;text-align:center;text-transform:uppercase;}
.trabajos-texto strong {font-family: 'Montserrat', sans-serif;font-size:18px;color:#333;}
.trabajos-texto a {display:block;padding-top:15px;}
.trabajos-texto a:hover, .trabajos-texto a:hover strong {color:#000}
.trabajo {float:left;width:100%;display:table;background:#161616;padding-bottom:30px;}
.trabajo-interno {width:860px;display:block;margin:0 auto;font-family:'Abel',sans-serif;font-size:15px;line-height:20px;color:#929292;text-transform:uppercase;}
.trabajo-video {border-bottom:10px solid #fff;}
.trabajo-titulo {font-family: 'Montserrat', sans-serif;font-size:25px;line-height:30px;text-align:center;color:#fff;font-weight:bold;padding-top:20px;border-top:1px solid #333;}
.trabajo-bajada {font-family:'Abel',sans-serif;font-size:20px;line-height:24px;color:#cdcdcd;padding-top:5px;text-align:center;}
.trabajo-texto {width:600px;padding:40px 130px 15px;text-align:left;}
.ver-mas {float:left;width:960px;margin-top:30px;border-top:1px solid #f0f0f0;text-align:center;}
.ver-mas a {display:block;font-family:'Abel',sans-serif;font-size:15px;line-height:17px;color:#4d4d4d;text-transform:uppercase;padding:20px 0 50px;background:url(images/misc-flecha-abajo.gif) center 50px no-repeat;}
.ver-mas a:hover {color:#000;background:#f0f0f0 url(images/misc-flecha-abajo.gif) center 50px no-repeat;}
.volver {border-top:1px solid #333;text-align:center;margin-top:20px;}
.volver a {display:block;font-family:'Abel',sans-serif;font-size:15px;line-height:31px;color:#d3d3d3;text-transform:uppercase;padding:30px 0 30px;background:url(images/misc-flecha-izquierda.gif) 370px 30px no-repeat;}
.volver a:hover {color:#d3d3d3;background:#000 url(images/misc-flecha-izquierda.gif) 370px 30px no-repeat;}
.prensa ul {float:left;width:960px;}
.prensa li {float:left;width:220px;margin:20px 10px 0;}
.prensa li a {padding:20px;height:180px;background:#f3f3f3;display:block;font-family:'Abel',sans-serif;font-size:22px;line-height:26px;color:#000}
.prensa li a strong {font-family: 'Montserrat', sans-serif;font-size:12px;line-height:14px;color:#909090;}
.prensa li a:hover {background:#333;color:#fff;}
.contenido-centrado {float:left;width:600px;margin:30px 180px 0;font:14px Arial, Helvetica, sans-serif;color:#606060;line-height:22px;}
.prensa-central {float:left;width:600px;margin-top:30px;font:14px Arial, Helvetica, sans-serif;color:#606060;line-height:22px;}
.prensa-ver {float:left;width:129px;margin-top:70px;text-align:center;}
.prensa-ver a {display:block;font-family:'Abel',sans-serif;font-size:15px;line-height:17px;color:#4d4d4d;text-transform:uppercase;padding:20px 0 65px;}
.prensa-ver.anterior {background:url(images/misc-flecha-anterior.gif) center 50px no-repeat;margin-right:50px;border-right:1px solid #f0f0f0;}
.prensa-ver.siguiente {background:url(images/misc-flecha-siguiente.gif) center 50px no-repeat;margin-left:50px;border-left:1px solid #f0f0f0;}
.prensa-ver.anterior a:hover {background:#f0f0f0 url(images/misc-flecha-anterior.gif) center 50px no-repeat;}
.prensa-ver.siguiente a:hover {background:#f0f0f0 url(images/misc-flecha-siguiente.gif) center 50px no-repeat;}
.prensa-detalle-fecha {font-family: 'Montserrat', sans-serif;font-size:12px;line-height:14px;color:#909090;}
.prensa-detalle-titulo {font-family:'Abel',sans-serif;font-size:36px;line-height:40px;color:#000;margin-top:10px;}
.prensa-detalle-texto {margin-top:20px;}
.quien-soy {float:left;width:560px;padding:30px 400px 0 0;font:14px Arial, Helvetica, sans-serif;color:#606060;line-height:22px;background:url(images/foto-quien-soy.jpg) right bottom no-repeat;}

/* encabezado */
.encabezado {float:left;width:100%;display:table;}
.encabezado-interno {width:960px;display:block;margin:0 auto;font:12px Arial, Helvetica, sans-serif;line-height:16px;color:#333;}
.encabezado-idioma {float:left;width:860px;text-align:right;padding:20px 50px;font-family:'Abel',sans-serif;font-size:14px;line-height:16px;color:#999}
.encabezado-idioma a {color:#717171;}
.encabezado-idioma a:hover {color:#000;}
.encabezado-logo {margin:auto; display:block; width:439px; height:79px; text-align:center;padding:20px 0 60px;background: url(images/logo-gianfranco-quattrini.gif) no-repeat;}

/* menu */
.menu {float:left;width:100%;display:table;padding-bottom:10px;}
.menu-interno {width:960px;display:block;margin:0 auto;font-family:'Abel',sans-serif;font-size:17px;line-height:35px;color:#333;}
.menu ul {height:35px;list-style:none;text-align:center;}
.menu li {padding:0px;display:inline;margin:0 8px;}
.menu li a {color:#707070;line-height:35px;margin:0px;padding:5px 10px;text-align:center;text-decoration:none;text-transform:uppercase;}
.menu li a:hover {background:#333;color:#fff;text-decoration:none;}

/* pie */
.pie {float:left;width:100%;display:table;}
.pie-interno {width:960px;display:block;margin:30px auto;font:12px Arial, Helvetica, sans-serif;line-height:16px;border-top:10px solid #f0f0f0;padding:20px 0;}
.pie-datos {float:left;width:890px;padding-left:10px;color:#999;}
.pie-datos a {color:#717171;}
.pie-datos a:hover {color:#000;}
.pie-kells {float:left;width:50px; height:20px; text-align:right;background: url(images/kells.gif) center repeat-y;margin:0;padding:0;}


/* clases */
.columna {float:left;}
.ancho-960 {width:960px;}
.alert {background:#F00;font-size:11px;font-weight:bold;color:#fff;width:240px;padding:2px 9px;}
.texto-16 {font-size:16px;}
.texto-20 {font-size:20px;}
.texto-font {font-family:'Abel',sans-serif;}
.texto-centrado {text-align:center;}
.punteado-arriba {border-top:1px dotted #ccc;padding-top:20px;}
